environment:
  matrix:
  - TARGET: x86_64-pc-windows-msvc
  - TARGET: i686-pc-windows-msvc
  - TARGET: x86_64-pc-windows-gnu
  - TARGET: i686-pc-windows-gnu
install:
  - ps: Start-FileDownload "https://static.rust-lang.org/dist/rust-nightly-${env:TARGET}.exe" -FileName "rust-nightly.exe"
  - ps: .\rust-nightly.exe /VERYSILENT /NORESTART /DIR="C:\rust" | Out-Null
  - ps: $env:PATH="$env:PATH;C:\rust\bin"
  - rustc -vV
  - cargo -vV
build: false
test_script:
  - ps: cd macros
  - cargo test --verbose
  - ps: cd ../types
  - cargo test --verbose
  - ps: cd ../codegen
  - cargo test --verbose
  - ps: cd ../hyper
  - cargo build --verbose
  - ps: cd codegen
  - cargo build --verbose
