[package]
authors = ["Stephan Buys <stephan.buys@panoptix.co.za>", "Ashley Mannix <ashleymannix@live.com.au>"]
name = "elastic_responses"
version = "0.21.0-pre.1"
license = "MIT/Apache-2.0"
description = "Parses search results from Elasticsearch and presents results using convenient iterators."
documentation = "https://docs.rs/elastic_responses"
repository = "https://github.com/elastic-rs/elastic"

[dependencies]
serde = "~1"
serde_derive = "~1"
serde_json = "~1"
quick-error = "~1"
http = "~0.1"

[dev-dependencies]
json_str = "^0.*"
