[package]
name = "elastic"
version = "0.20.9"
authors = ["Ashley Mannix <ashleymannix@live.com.au>"]
license = "MIT/Apache-2.0"
keywords = ["elasticsearch", "search"]
description = "A modular sync and async client for the Elasticsearch REST API."
documentation = "https://docs.rs/elastic/"
repository = "https://github.com/elastic-rs/elastic"
readme = "README.md"

[badges]
travis-ci = { repository = "elastic-rs/elastic" }
appveyor = { repository = "elastic-rs/elastic" }

[dependencies]
quick-error = "~1"
error-chain = "0.11.0"
log = "~0.3.8"
uuid = { version = "0.6", features = [ "v4" ] }
url = "~1.5.1"
bytes = "~0.4.5"
serde = "~1"
serde_json = "~1"
serde_derive = "~1"
reqwest = { version = "~0.8.0", features = ["unstable"] }
futures = "~0.1.16"
tokio-core = "~0.1.9"
futures-cpupool = "~0.1.6"
fluent_builder = "~0.5"

elastic_requests = { version = "~0.20.2", path = "../requests" }
elastic_responses = { version = "~0.20.2", path = "../responses" }
elastic_types = { version = "~0.20.0", path = "../types" }

[dev-dependencies]
json_str = "~0.5"
serde_derive = "~1"
elastic_derive = { version = "~0.20.0", path = "../elastic_derive" }
env_logger = "~0.4.3"
