[package]
name = "elastic"
version = "0.14.0"
authors = ["Ashley Mannix <ashleymannix@live.com.au>"]
license = "Apache-2.0"
keywords = ["elasticsearch", "search"]
description = "A modular sync and async client for the Elasticsearch REST API."
documentation = "https://docs.rs/elastic/"
repository = "https://github.com/elastic-rs/elastic"

[badges]
travis-ci = { repository = "elastic-rs/elastic" }
appveyor = { repository = "elastic-rs/elastic" }

[dependencies]
error-chain = "0.11.0-rc.2"
log = "~0.3.8"
uuid = { version = "~0.5.1", features = [ "v4" ] }
serde = "~1"
serde_json = "~1"
reqwest = { version = "*", git = "https://github.com/seanmonstar/reqwest.git", features = ["unstable"] }
futures = "*"
tokio-core = "*"
futures-cpupool = "*"

elastic_reqwest = { version = "*", path = "../reqwest" }
elastic_types = "~0.19.0"

[dev-dependencies]
json_str = "~0.5"
serde_derive = "~1"
elastic_derive = { version = "~0.14.0", path = "../elastic_derive" }
env_logger = "~0.4.3"
